In [1]:
import pandas as pd
import numpy as np

file = 'mower_market_snapshot.csv'

df = pd.read_csv(file, sep=";")

df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [3]:
def missingValues(dataFrame) :
    print(dataFrame.isna().sum())
    
missingValues(df)
# Fonction pour les valeurs manquantes

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [5]:
df1 = df.copy()

def categPrice(categories, dataframe, labels = None):
    dataframe["categ"] = pd.cut(dataframe["price"], categories, labels=labels)
    return dataframe.loc[:,("price", "categ")]
categPrice([0,300, 501, df1.price.max()+1], df1, ["0-200", "201-400", "401++"])
# 3 catégorie de prix

           price  categ
0     828.802103  401++
1     882.894916  401++
2     919.355522  401++
3     817.085097  401++
4     844.581465  401++
...          ...    ...
1394   75.161102  0-200
1395   75.395132  0-200
1396  810.883148  401++
1397   68.491318  0-200
1398   74.955428  0-200

[1399 rows x 2 columns]

In [7]:
df2 = df.copy()

def colonne_binnaire(df, columns, column_to_test, place = 8):
    for col in columns:
        df.insert(place, col, 0)   
    for col in df.loc[:,(columns)]:
        df[col] = df[column_to_test].apply(lambda x : x == col).astype(int)
    return df
        
test =  colonne_binnaire(df2, ["auto-portee", "essence", "electrique"], "product_type")
test
#Colonne binnaire pour les product_type

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,electrique,essence,auto-portee,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,0,0,1,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,0,0,1,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,0,0,1,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,0,0,1,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,0,0,1,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,0,1,0,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,0,1,0,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,0,1,0,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,0,1,0,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,0,1,0,1an.,0.001022,0.538969

In [9]:
data = dict({"auto-portee" : 1, "essence" : 2, "electrique" : 3})

def numeric(data, df, column):
    for item in data:
        df[column] = df[column].replace(item, data[item])
    return df
d = numeric(data, df2, "product_type")

d
#Transformer donnée en numérique

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,electrique,essence,auto-portee,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,0,0,1,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,0,0,1,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,0,0,1,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,0,0,1,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,0,0,1,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,0,1,0,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,0,1,0,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,0,1,0,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,0,1,0,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,0,1,0,1an.,0.001022,0.538969