In [2]:
import pandas as pd
import numpy as np
series = pd.Series([1,2,3,4,5, np.nan, " a string", 6])
series = pd.Series([1,2,np.nan,4])
series
df3 = pd.DataFrame(np.arange(1, 100, 0.12).reshape(33,25))
df3

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.0,1.12,1.24,1.36,1.48,1.6,1.72,1.84,1.96,2.08,...,2.8,2.92,3.04,3.16,3.28,3.4,3.52,3.64,3.76,3.88
1,4.0,4.12,4.24,4.36,4.48,4.6,4.72,4.84,4.96,5.08,...,5.8,5.92,6.04,6.16,6.28,6.4,6.52,6.64,6.76,6.88
2,7.0,7.12,7.24,7.36,7.48,7.6,7.72,7.84,7.96,8.08,...,8.8,8.92,9.04,9.16,9.28,9.4,9.52,9.64,9.76,9.88
3,10.0,10.12,10.24,10.36,10.48,10.6,10.72,10.84,10.96,11.08,...,11.8,11.92,12.04,12.16,12.28,12.4,12.52,12.64,12.76,12.88
4,13.0,13.12,13.24,13.36,13.48,13.6,13.72,13.84,13.96,14.08,...,14.8,14.92,15.04,15.16,15.28,15.4,15.52,15.64,15.76,15.88
5,16.0,16.12,16.24,16.36,16.48,16.6,16.72,16.84,16.96,17.08,...,17.8,17.92,18.04,18.16,18.28,18.4,18.52,18.64,18.76,18.88
6,19.0,19.12,19.24,19.36,19.48,19.6,19.72,19.84,19.96,20.08,...,20.8,20.92,21.04,21.16,21.28,21.4,21.52,21.64,21.76,21.88
7,22.0,22.12,22.24,22.36,22.48,22.6,22.72,22.84,22.96,23.08,...,23.8,23.92,24.04,24.16,24.28,24.4,24.52,24.64,24.76,24.88
8,25.0,25.12,25.24,25.36,25.48,25.6,25.72,25.84,25.96,26.08,...,26.8,26.92,27.04,27.16,27.28,27.4,27.52,27.64,27.76,27.88
9,28.0,28.12,28.24,28.36,28.48,28.6,28.72,28.84,28.96,29.08,...,29.8,29.92,30.04,30.16,30.28,30.4,30.52,30.64,30.76,30.88
10,31.0,31.12,31.24,31.36,31.48,31.6,31.72,31.84,31.96,32.08,...,32.8,32.92,33.04,33.16,33.28,33.4,33.52,33.64,33.76,33.88
11,34.0,34.12,34.24,34.36,34.48,34.6,34.72,34.84,34.96,35.08,...,35.8,35.92,36.04,36.16,36.28,36.4,36.52,36.64,36.76,36.88
12,37.0,37.12,37.24,37.36,37.48,37.6,37.72,37.84,37.96,38.08,...,38.8,38.92,39.04,39.16,39.28,39.4,39.52,39.64,39.76,39.88
13,40.0,40.12,40.24,40.36,40.48,40.6,40.72,40.84,40.96,41.08,...,41.8,41.92,42.04,42.16,42.28,42.4,42.52,42.64,42.76,42.88
14,43.0,43.12,43.24,43.36,43.48,43.6,43.72,43.84,43.96,44.08,...,44.8,44.92,45.04,45.16,45.28,45.4,45.52,45.64,45.76,45.88
15,46.0,46.12,46.24,46.36,46.48,46.6,46.72,46.84,46.96,47.08,...,47.8,47.92,48.04,48.16,48.28,48.4,48.52,48.64,48.76,48.88
16,49.0,49.12,49.24,49.36,49.48,49.6,49.72,49.84,49.96,50.08,...,50.8,50.92,51.04,51.16,51.28,51.4,51.52,51.64,51.76,51.88
17,52.0,52.12,52.24,52.36,52.48,52.6,52.72,52.84,52.96,53.08,...,53.8,53.92,54.04,54.16,54.28,54.4,54.52,54.64,54.76,54.88
18,55.0,55.12,55.24,55.36,55.48,55.6,55.72,55.84,55.96,56.08,...,56.8,56.92,57.04,57.16,57.28,57.4,57.52,57.64,57.76,57.88
19,58.0,58.12,58.24,58.36,58.48,58.6,58.72,58.84,58.96,59.08,...,59.8,59.92,60.04,60.16,60.28,60.4,60.52,60.64,60.76,60.88
20,61.0,61.12,61.24,61.36,61.48,61.6,61.72,61.84,61.96,62.08,...,62.8,62.92,63.04,63.16,63.28,63.4,63.52,63.64,63.76,63.88
21,64.0,64.12,64.24,64.36,64.48,64.6,64.72,64.84,64.96,65.08,...,65.8,65.92,66.04,66.16,66.28,66.4,66.52,66.64,66.76,66.88
22,67.0,67.12,67.24,67.36,67.48,67.6,67.72,67.84,67.96,68.08,...,68.8,68.92,69.04,69.16,69.28,69.4,69.52,69.64,69.76,69.88
23,70.0,70.12,70.24,70.36,70.48,70.6,70.72,70.84,70.96,71.08,...,71.8,71.92,72.04,72.16,72.28,72.4,72.52,72.64,72.76,72.88
24,73.0,73.12,73.24,73.36,73.48,73.6,73.72,73.84,73.96,74.08,...,74.8,74.92,75.04,75.16,75.28,75.4,75.52,75.64,75.76,75.88
25,76.0,76.12,76.24,76.36,76.48,76.6,76.72,76.84,76.96,77.08,...,77.8,77.92,78.04,78.16,78.28,78.4,78.52,78.64,78.76,78.88
26,79.0,79.12,79.24,79.36,79.48,79.6,79.72,79.84,79.96,80.08,...,80.8,80.92,81.04,81.16,81.28,81.4,81.52,81.64,81.76,81.88
27,82.0,82.12,82.24,82.36,82.48,82.6,82.72,82.84,82.96,83.08,...,83.8,83.92,84.04,84.16,84.28,84.4,84.52,84.64,84.76,84.88
28,85.0,85.12,85.24,85.36,85.48,85.6,85.72,85.84,85.96,86.08,...,86.8,86.92,87.04,87.16,87.28,87.4,87.52,87.64,87.76,87.88
29,88.0,88.12,88.24,88.36,88.48,88.6,88.72,88.84,88.96,89.08,...,89.8,89.92,90.04,90.16,90.28,90.4,90.52,90.64,90.76,90.88
30,91.0,91.12,91.24,91.36,91.48,91.6,91.72,91.84,91.96,92.08,...,92.8,92.92,93.04,93.16,93.28,93.4,93.52,93.64,93.76,93.88
31,94.0,94.12,94.24,94.36,94.48,94.6,94.72,94.84,94.96,95.08,...,95.8,95.92,96.04,96.16,96.28,96.4,96.52,96.64,96.76,96.88
32,97.0,97.12,97.24,97.36,97.48,97.6,97.72,97.84,97.96,98.08,...,98.8,98.92,99.04,99.16,99.28,99.4,99.52,99.64,99.76,99.88

In [1]:
import pandas as pd
df = pd.read_csv('mower_market_snapshot.csv', delimiter=";")
df
#Affichage du dataframe attendu

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [2]:
df.head()
#renvoi les 5 premieres lignes de l'objet

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614

In [3]:
df.sort_values(by='attractiveness', ascending=False).loc[:,["id", "attractiveness"]]
#Retourne par ordre decroissant pour 'attractiveness0' les valeur de id et attractiveness

        id  attractiveness
34   18439        0.952877
432  19010        0.916831
981  18387        0.915787
52   18726        0.914049
47   19549        0.907834
..     ...             ...
894  18544        0.305350
847  19584        0.303823
204  18854        0.300319
187  19505        0.298501
782  19364        0.297384

[1399 rows x 2 columns]

In [4]:
df.loc[:5]
# Retourne les 5 premiers index

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium,3 ans,0.007596,0.777051

In [8]:
df.groupby("quality").sum()
#Somme des différentes quality

,capacity,failure_rate,id,margin,price,market_share,attractiveness
quality,,,,,,,
Hight,6092.814763,20.776833,2524187,28550.937641,38689.250517,0.321888,85.722512
Low,46151.110815,162.653661,18412702,177010.372919,247957.326353,2.023636,612.423872
Medium,14436.984176,49.430190,5585353,55020.079716,77198.578502,0.654476,192.326651

In [11]:
df.sort_values(by = 'price', ascending=True).head(15)
# Retourne les 15 valeur trié par prix du plus petit au plus grand

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
535,43.410781,0.089094,19576,286.579692,62.162200,0,electrique,Low,2 anss,0.002389,0.622614
1052,50.843741,0.195125,18366,53.272369,62.855737,9.583368011630627,essence,Low,1 an.,0.001364,0.719494
696,63.785109,0.228977,18315,55.156346,63.692980,8.536633990796986,essence,Low,1 an.,0.001374,0.724895
710,55.682973,0.219791,18808,53.612922,63.984195,10.371273145783007,essence,Low,1 an,0.001545,0.815051
919,49.237933,0.232052,18290,55.214844,64.146445,8.931600382421172,essence,Low,1an,0.001269,0.669645
1244,70.009364,0.229649,18842,52.943989,64.148528,11.204539376403664,essence,Low,1_an.,0.001460,0.770089
840,54.246009,0.222945,18624,54.256377,64.465055,10.208678152800251,essence,Low,1an,0.001228,0.648158
566,67.695985,0.259203,18845,55.016768,64.733270,9.71650267591658,essence,Low,1_ans,0.001520,0.802101
850,52.158198,0.259405,18378,55.517137,64.878653,9.361516098542555,essence,Low,1 an.,0.001466,0.773724
785,43.796136,0.231963,18551,55.436556,64.893030,9.456474796287512,essence,Low,1ans,0.001351,0.712717
1142,53.489662,0.244896,18397,56.669396,65.758364,9.088967660754202,essence,Medium,1_ans,0.001380,0.727992
652,49.372864,0.236017,18988,55.682760,65.889675,10.20691539180577,essence,Low,1an.,0.001490,0.786169
1135,65.403063,0.274058,19117,56.701880,65.924984,9.223104502125432,essence,Low,1an,0.001527,0.805758
1282,48.330140,0.242256,18449,57.569893,66.011286,8.441393401075173,essence,Low,1ans,0.001223,0.645455
1365,60.043284,0.219363,18999,56.596778,66.226551,9.62977356391841,essence,Low,1 an,0.001691,0.892293

In [15]:
df.loc[:, 'product_type'] = "electrique"
df
#Retourne les objets dont le product_type est electrique

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,electrique,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,electrique,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,electrique,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,electrique,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,electrique,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,electrique,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,electrique,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,electrique,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,electrique,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,electrique,Low,1an.,0.001022,0.538969

In [16]:
df.iloc[:25]
#Bloque le nombre de résultat à 25

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,electrique,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,electrique,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,electrique,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,electrique,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,electrique,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,electrique,Medium,3 ans,0.007596,0.777051
6,12.242635,0.035492,18448,757.351286,930.615022,173.26373572791334,electrique,Hight,3_ans.,0.007488,0.766056
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,electrique,Low,3 anss,0.005291,0.541318
8,15.264180,0.038804,19640,646.626567,816.774028,170.14746134881673,electrique,Low,3_ans.,0.006063,0.620278
9,16.190545,0.034045,19559,628.673360,814.799650,186.1262903279073,electrique,Low,3_ans.,0.005700,0.583117
10,14.028989,0.034757,19560,637.200636,785.615675,148.41503918168814,electrique,Low,3_anss,0.007457,0.762884
11,15.926414,0.037488,18922,675.328485,871.147948,195.81946333014687,electrique,Medium,3 anss,0.007248,0.741459
12,14.318660,0.037684,18858,648.838526,819.838099,170.99957332823436,electrique,Low,3_ans.,0.006919,0.707789
13,19.896179,0.040934,19307,690.403797,830.373642,139.9698450224172,electrique,Low,3 ans.,0.006047,0.618644
14,18.925359,0.029028,19177,709.668292,874.528101,164.85980921486097,electrique,Low,3 ans,0.006399,0.654611
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,electrique,Medium,3_ans.,0.007492,0.766498
16,11.181391,0.039208,19478,684.847575,852.037497,167.18992276086493,electrique,Low,3 ans,0.006080,0.621991
17,22.824634,0.032932,18969,687.263834,848.527485,161.26365131854845,electrique,Medium,3 ans.,0.007811,0.799126
18,25.622312,0.038356,18965,697.112619,882.086532,184.97391331970988,electrique,Hight,3 anss,0.008584,0.878160
19,27.610500,0.041601,19376,658.273346,814.524030,156.25068438864682,electrique,Low,3 ans,0.006102,0.624247
20,18.043487,0.030080,19509,669.070606,827.985533,158.91492725312412,electrique,Low,3 anss,0.007235,0.740156
21,16.129713,0.040868,18361,658.161751,843.729983,185.56823156025672,electrique,Low,3 ans.,0.006234,0.637720
22,8.211970,0.034262,18977,650.040833,834.984548,184.94371512383591,electrique,Low,3_ans.,0.006442,0.659051
23,27.484897,0.035069,19257,638.986447,838.865752,199.8793048937394,electrique,Medium,3_anss,0.008572,0.876942
24,21.720148,0.035431,18495,679.310789,840.411156,161.1003672316781,electrique,Medium,3anss,0.007629,0.780437

In [17]:
df.add_prefix('id_')
#Ajoute un élément avant chaque categorie

,id_capacity,id_failure_rate,id_id,id_margin,id_price,id_prod_cost,id_product_type,id_quality,id_warranty,id_market_share,id_attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,electrique,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,electrique,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,electrique,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,electrique,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,electrique,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,electrique,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,electrique,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,electrique,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,electrique,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,electrique,Low,1an.,0.001022,0.538969

In [20]:
import pandas as pd
import numpy as numpy
missing_values = ["n/a", "na", "--", "nan", "unknown", " "]
df = pd.read_csv('mower_market_snapshot.csv', sep = ';',na_values = missing_values)
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380589,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,NaN,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794197,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216,essence,Low,1an.,0.001022,0.538969

In [21]:
print(df['prod_cost'].describe())
print(df['prod_cost'].shape)
# Auditer et analyser la colonne prod_cost

count    1368.000000
mean       55.434239
std        61.474453
min       -64.000000
25%        10.667699
50%        12.141745
75%       113.655262
max       210.984941
Name: prod_cost, dtype: float64
(1399,)

In [22]:
for x in df:
    print(x ,df[df[x].isnull()].shape[0])
# Nombre de valeur manquante par colonne

capacity 0
failure_rate 0
id 0
margin 0
price 0
prod_cost 31
product_type 0
quality 0
warranty 0
market_share 0
attractiveness 0

In [23]:
moyenne = df["prod_cost"].mean()
df["prod_cost"] = df["prod_cost"].fillna(moyenne)
# Remplacer les valeurs manquantes par la moyenne de la colonne

In [24]:
df["warranty"].unique()
# Afficher les valeurs uniques de la colonne Warranty

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

In [26]:
df["warranty"].shape
df["warranty"] = df["warranty"].str[0].astype(int)
df["warranty"].unique()
# Traiter la colonne warranty afin d'obtenir une colonne numérique avec 3 valeurs uniques

array([3, 2, 1])

In [27]:
cat1 = df[(df["price"]>0) & (df["price"]<=200)]
cat2 = df[(df["price"]>200) & (df["price"]<=400)]
cat3 = df[df["price"]>400]
# Traiter la colonne price afin d'avoir 3 catégories

In [28]:
df.loc[df["product_type"]=='auto-portee',"product_type"]=1
df.loc[df["product_type"]=='electrique',"product_type"]=2
df.loc[df["product_type"]=='essence',"product_type"]=3
df["product_type"].unique()
# Transformer la colonne product_type en colonne numérique avec 3 catégories ( 1 , 2, 3)

array([1, 2, 3], dtype=object)

In [29]:
df["auto-portee"]=0
df["electrique"]=0
df["essence"]=0
df.loc[df["product_type"]==1,"auto-portee"]=1
df.loc[df["product_type"]==2,"electrique"]=1
df.loc[df["product_type"]==3,"essence"]=1
df

# Puis créer 3 colonnes (auto-portée, essence, électrique) représentant une variable binaire avec 1 si le produit est du type de la colonne ou 0 sinon

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portee,electrique,essence
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,1,Low,3,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,1,Low,3,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,1,Low,3,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,1,Low,3,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,1,Medium,3,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540,3,Medium,1,0.000973,0.513126,0,0,1
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380589,3,Low,1,0.001038,0.547739,0,0,1
1396,67.865222,0.228935,19169,62.132035,810.883148,55.434239,3,Low,1,0.001243,0.655622,0,0,1
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794197,3,Low,1,0.001644,0.867537,0,0,1
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216,3,Low,1,0.001022,0.538969,0,0,1